body {
    font-family: "Comic Sans MS", cursive;
    background-image: url("image/plateau.jpg");
    background-repeat:no-repeat;
    background-size: cover;
}

section .container{
    background-color: green;
    width: 70%;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 1px 1px 50px black;
    padding: 20px;
}

h1{
    color: red;
}

nav, h1 {
    text-align: center;
}

#player_deck{
}

ul {
    list-style-type: none;
    margin: 0 auto;
}
#player_deck ul{
    display: flex;
    justify-content: flex-start;
    max-width:  700px;
    flex-wrap: wrap;
}

#player_deck .card:hover {
    z-index: 100;
    margin-top: -10px;
    transform: scale(1.1);
}

#player_deck .card:hover,
.card.playable {
    filter: grayscale(0%) blur(0);
    opacity: 1;
    margin-top: 0;
}

#player_infos {
    color: wheat;
}

#player_deck .card.playable {
    transform: rotate(-3deg);
    border-color: white;
}

#player_deck .card {
    border-color: #22bec0;
}

/**********************************************
                     CARDS
 ***********************************************/
.card{
    transition: all 200ms ease-out;
    margin: 5px -15px;
    border-radius:5px;
    background: green;
    width: 100px;
    height: 140px;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.3rem;
    box-shadow: 4px 5px 5px rgba(1, 1, 1, .2);
    border: 8px solid white;
    cursor: pointer;
}

.card.special {
    padding: 8px;
}

.card.joker{
    border: 5px solid white;
    color: white;
}

.jaune {
    background-color: yellow;
}

.bleu {
    background-color: blue;
}

.rouge {
    background-color: red;
}

.vert {
    background-color: #55d231;
}

.black {
    background-color: black;
}

.card span, .card.special {
    font-size: 6rem;
    line-height: 7rem;
}

.sortCards{
    background-color: #171717;
    color: white;
    padding: 10px;
    border: 1px outset green;
}

.sortCards:hover{
    background-color: #015301;
    color: white;
    border: 1px inset #676767;
}

.card.special span {
    position: absolute;
    color: #000000a3;
    margin-left: -14px;
    margin-top: -8px;
    font-size: 5rem;
}

#discard, #pile {
    display: inline-block;
    height: 200px;
    width: 200px;
}

#discard .card {
    position: absolute;
}

i.fa, i.fas {
    font-size: 4.3rem;
    margin-top: 20px;
    display: block;
}

.card.backward {
    transition: all .2s ease-in-out;
    border: 0;
    background: url("https://www.tradingcarddb.com/Images/Cards/Racing/80717/80717-5719744Bk.jpg") no-repeat;
    background-size: 100% 100%;
}


.card.backward:hover {
    transform: scale(1.1);
}

/**********************************************
                        UI
 ***********************************************/
.hidden {
    display: none;
}

#message {
    color: white;
    background-color: rgba(0, 0, 0, .3);
    padding: 10px;
    border-radius: 40px;
    border: 2px solid rgba(255, 255, 255, .6);
}

#modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .9);
}

#modal .container {
    width: 600px;
    height: 60%;
    background-color: white;
    margin: 100px auto 20px;
}

#modal * {
    box-sizing: border-box;
}

#modal .legend {
    position: relative;
    color: white;
    background-color: rgba(255, 255, 255, .1);
    padding: 20px;
    border-radius: 40px;
    border: 2px solid rgba(255, 255, 255, .6);
    width: 600px;
    margin: 0 auto;
}

#modal.color_choice .container {
    left: calc(50% - 150px);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 20px solid white;
    overflow: hidden;
}

.color_choice table {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-collapse: collapse;
    overflow: hidden;
}

.color_choice table:hover td {
    transition: opacity 600ms;
    opacity: .4
}

.color_choice table td:hover {
    opacity: 1;
}

/**********************************************
                     FOOTER
***********************************************/

.container_footer {
    width: max-content;
    margin-top: 70px;
    margin-left: 20px;
    background-color: #171717;
    padding: 10px 20px;
    color: wheat;
    border-radius: 20px;
    box-shadow: -5px -5px 30px wheat;
}

.container_footer p {
    margin: 5px;
    color: green;
}

#players_infos ul {
    margin: 0;
    padding: 0
}

.current_player:before {
    content: ">";
    padding-right: 4px;
}

.current_player {
    margin-left: -10px;
}
